<ion-app>

  <!-- <ion-router-outlet></ion-router-outlet> -->
  <ion-list>
  <ion-list-header>
    <ion-label>Web Devloper</ion-label>
  </ion-list-header>
  <ion-item>
    <ion-label>Html</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Css</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>JavaScript</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Bootstrap</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Angular</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Ionic</ion-label>
  </ion-item>
</ion-list>
<ion-content class="ion-padding">
  <h1>Welcome to coding</h1><h1>Hello World !</h1>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>Nandu @ app-devloper</ion-title>
  </ion-toolbar>
</ion-footer>
</ion-app>
